WA_SQLITE_DB=/var/www/webalbum/data/images.db
WA_PHOTOS_ROOT=/data/photos
WA_THUMBS_ROOT=/data/photos-thumbs
WA_BACKUP_ROOT=/data/photos-backups
WA_INDEXER2_ROOT=/usr/local/lib/indexer2
WA_INDEXER2_PYTHON=/usr/bin/python3
WA_INDEXER2_CONFIG=/usr/local/lib/indexer2/config.yaml
WEBALBUM_DB_HOST=127.0.0.1
WEBALBUM_DB_PORT=3306
WEBALBUM_DB_NAME=webalbum
WEBALBUM_DB_USER=webalbum
WEBALBUM_DB_PASS=n@*iK-bZGsfF9@XN
WA_EXIFTOOL_PATH=/usr/local/sbin/exiftool
WA_FFMPEG_BIN=/usr/sbin/ffmpeg
WA_FFPROBE_BIN=/usr/sbin/ffprobe
WA_SOFFICE_PATH=/usr/sbin/soffice
WA_GS_PATH=/usr/sbin/gs
WA_IMAGEMAGICK_BIN=/usr/sbin/magick
WA_PECL_BIN=/usr/sbin/pecl
